
.avatar {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #FF5555;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
}

.ava {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.user_ava {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
}